/*
Fonts
 */
@font-face {
  font-family: "Space Mono";
  src:
    url("./fonts/spacemono-bold-webfont.woff2") format("woff2"),
    url("./fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src:
    url("./fonts/spacemono-bolditalic-webfont.woff2") format("woff2"),
    url("./fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src:
    url("./fonts/spacemono-italic-webfont.woff2") format("woff2"),
    url("./fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src:
    url("./fonts/spacemono-regular-webfont.woff2") format("woff2"),
    url("./fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*
Variables
 */
:root {
  /*
  colors
   */
  --bb-violet-color: #9747ff;
  --bb-light-grey-color: #f9f9f9;
  --bb-dark-grey-color: #646464;

  /*
    shadows
   */
  --bb-violet-shadow: 0 1px 10px #9747ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
